a{
  text-decoration: none;
}
input{
  background-color: grey;

}
.locationpic{
  height: 100px;
  width: 100px;
  display: inline;
  position: relative;
  left: 390px;
  bottom: 230px;
}
.topimage{
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.logregbox{
  display: inline;
  position: relative;
  background-size:auto;
  background-color: #1c4e51;
  left: 20%;
}
.background{
  width: 100%;
  height: 2000px;
  background-color: #92c749;
  margin: 0 auto;
}
.login{
  position: relative;
  top: 710px;
  background-color: grey;
  height: 300px;
}
.thebottombutt{
  position: relative;
  bottom: 580px;
  left: 870px;
  color: #962525;
  font-size: 20px;
}
.readpublic{
  position: relative;
  bottom: 580px;
  left: 880px;
  color: #962525;
  font-size: 20px;
}


.register{
position: fixed;
/*bottom: 300px;
left: 300px;*/
left: 65%;
top: 25%;
}
.steps{
  width: 250px;
  height: 200px;
}
.howitworks{
  margin-left: 50px;
  position: relative;
  bottom: 50px;
}
.howitworkstitle{
  margin-left: 400px;
  margin-bottom: 150px;
}
.nameinput{
  color: #a9dddd;
}
.aliasinput{
  color: #a9dddd;
}
.emailinput{
  color: #a9dddd;
}
.passwordinput{
  color: #a9dddd;
}
.confirminput{
  color: #a9dddd;
}
.dobinput{
  color: #a9dddd;
}
.registerheader{
  color: #a9dddd;
}
.title{
  position: relative;
  left: 100px;
  bottom: 400px;
  font-size: 50px;
  color: #a9dddd;
}
.loginbutton{
  color: white;
}
.instagram-media{
  width: 100px;
  height: 150px;
}
.backgroundimg img{
  height:100%;
  width:100%;
  position: fixed;
  *{
    margin:auto;
  }
}
.parallax{
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.thesecs{
  height: 300px;
}

.imageicon{
  text-align: center;
  border-radius:50%;
  margin-top: 10%;
}
.booger{
  margin: 10px;
}
.eventname{
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  color: white;
}

.eventlocation{
  text-align: center;
  color: white;
}
.description{
  text-align: center;
  color: white;
}
.details{
  text-align: center;
  margin: 10px;
  color:white;
}
.button{
  text-align: center;
}
.thesecs{
  background-color: #181918;
  opacity:0.7;
  margin:10px;
  margin-left:50px;
  border-radius:2%;
}
.thesecs:hover {
  background-color: #e0e2e1;
  opacity:0.7;
  margin:10px;
  margin-left:50px;


}
.dealscontains{
  margin-top: 8%;
  margin-right: 3%;
  /*background-color: blue;*/
  opacity: 0.9;
  padding-top: 0;
  margin-top: 0;
  width: 100%;
  height:500px;
  background-color: #4a5950;


}
.dealsheader{
  text-align: center;
  /*display: inline-block;*/
  color: black;
}
.dealsback{
  background-color:#4a5950;

}
.dealssub{
  background-color:#4a5950;
}
.dealscontent{
  text-align: center;
  margin-left: 2%;
}
.top_image{
background: url("../images/workoutpic1.jpg") fixed 100%;
-o-background-size: cover;
position:relative;
width: 100%;
height:750px;
/*bottom: 20px;*/
}
.dealslink{
  text-align: right;
  display:block;
}


.overlay1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:grey;
  transition: .5s;
  opacity: 0;
}
.overlay:hover{
  opacity: 0.9
}
.detailsbutt{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
}
.dropdown{
  opacity: 1
}
.dropdown:hover{
  opacity: 1;
}
.dropbtn {
    /*background-color: #4CAF50;*/
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 60px;
    width:60px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #f9f9f9;*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}
.dropdown-content:hover a{
  background-color: white;
  opacity: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  opacity: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.thenav{
  background-color:#1a1a1a;
  border:none;
  color:#e4e4e4;
  opacity: .9;
}
.navlinks{
  color:#e4e4e4;
}
.navlinks:hover{
  color: teal;
}
.navbar-default .navbar-nav>li>a {
  /* color:black !important; */
}

.detailscont{
  color: white;
}

.message{
  background-color: teal;
  text-align: center;
  color: black

  /*margin-bottom: 10px;*/
}
.messbackground{
  background: url("../images/running.jpg")fixed 100%;
  height: 500px;
  heig
}
.messarea{
  width: 60%;
  opacity: 0.9;
  margin-left: 20%;
  text-align: center;
}
.boardtitle{
  margin:0;
  color: white;
}
.meetupsbackground{
  background-color: #586b5b;
  height: 400px;
}
.meetuptext{
  margin: none;
}
.image{
  width: 100%;
  height:250px;
}
.messageimage{
  width: 100%;
  height:100px;
}
.message_details{
  display: block;
}
.themessage{
  border: solid;
  height: 120px;
  background: white;
  margin-top: 20px;
}
.probootstrap-section {
  padding: 5em 0;
}

.probootstrap-section.probootstrap-border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section.probootstrap-border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section > .container.probootstrap-border-top {
  padding-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section.probootstrap-bg-white {
  background: #ffffff;
}

@media screen and (max-width: 768px) {
  .probootstrap-section {
    padding: 3em 0;
  }
}

.probootstrap-section-bg {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7em 0;
  position: relative;
  height: 300px;

}

@media screen and (max-width: 768px) {
  .probootstrap-section-bg {
    padding: 3em 0;
    height: 300px;
  }
}

.probootstrap-section-bg.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.probootstrap-section-bg .probootstrap-heading {
  margin-top: 250px;
}

@media screen and (max-width: 768px) {
  .probootstrap-section-bg .probootstrap-heading {
    margin-top: 50px;
  }
}

.container-fluid .navbar-brand {
  margin-left: 15px;
}

.container-fluid .dropdown-submenu {
  position: relative;
}

.container-fluid .dropdown-submenu .dropdown-menu {
  top: 0;
  left: auto;
  right: 100%;
  margin-top: -1px;
}

@media screen and (max-width: 480px) {
  .container-fluid .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
}
.probootstrap-hero > .container {
  position: relative;
  z-index: 2;
}
.probootstrap-section > .container.probootstrap-border-top {
  padding-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #ffffff;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #ffffff;
}
.probootstrap-cell-retro {
  width: 100%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -13%;
  position: relative;
}

.probootstrap-cell-retro .half {
  width: 50%;
  float: left;
}

@media screen and (max-width: 768px) {
  .probootstrap-cell-retro .half {
    width: 100%;
    margin-top: 0;
  }
}
.probootstrap-cell-retro .half {
  width: 50%;
  float: left;
}

@media screen and (max-width: 768px) {
  .probootstrap-cell-retro .half {
    width: 100%;
    margin-top: 0;
  }
}
.probootstrap-cell {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.probootstrap-cell .image, .probootstrap-cell .text {
  width: 50%;
}

@media screen and (max-width: 992px) {
  .probootstrap-cell .image, .probootstrap-cell .text {
    width: 100%;
  }
}

.probootstrap-cell .image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 992px) {
  .probootstrap-cell .image {
    height: 200px;
  }
}

.probootstrap-cell .text {
  padding: 40px;
  position: relative;
}

.probootstrap-cell .text h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
  text-transform: uppercase;
  color: #000000;
}

.probootstrap-cell .text p:last-child {
  margin-bottom: 0;
}

.probootstrap-cell .text p.price {
  font-size: 20px;
  color: #FFA33E;
}

.probootstrap-cell .text:before {
  z-index: 22;
  right: 100%;
  top: 15%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 225, 255, 0);
  border-right-color: #ffffff;
  border-width: 12px;
  margin-top: -12px;
}

@media screen and (max-width: 768px) {
  .probootstrap-cell .text:before {
    display: none;
  }
}

.probootstrap-cell.reverse .image {
  position: absolute;
  right: 0;
  width: 50%;
  min-height: 100%;
}

@media screen and (max-width: 992px) {
  .probootstrap-cell.reverse .image {
    position: relative;
    width: 100%;
  }
}

.probootstrap-cell.reverse .text:before {
  z-index: 22;
  left: 100%;
  top: 15%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 225, 255, 0);
  border-left-color: #ffffff;
  border-width: 12px;
  margin-top: -12px;
}

@media screen and (max-width: 768px) {
  .probootstrap-cell.reverse .text:before {
    display: none;
  }
}
.probootstrap-animate {
  opacity: 1;
}
.text-center {
    text-align: center;
    height: 250px;
}
.probootstrap-section-bg {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7em 0;
  position: relative;
  height: 600px;
}

@media screen and (max-width: 768px) {
  .probootstrap-section-bg {
    padding: 3em 0;
    height: 300px;
  }
}

.probootstrap-section-bg.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.probootstrap-section-bg .probootstrap-heading {
  margin-top: 250px;
}

@media screen and (max-width: 768px) {
  .probootstrap-section-bg .probootstrap-heading {
    margin-top: 50px;
  }
}
.probootstrap-hero > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.probootstrap-section-bg.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.flexslider .slides > li.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .probootstrap-section-bg .probootstrap-heading {
    margin-top: 50px;
  }
}
.probootstrap-heading .primary-heading {
  font-family: "Pinyon Script", serif;
  color: #FFA33E;
  margin: 0;
  padding: 0;
  font-size: 80px;
}

@media screen and (max-width: 768px) {
  .probootstrap-heading .primary-heading {
    font-size: 70px;
  }
}

.probootstrap-heading .secondary-heading {
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding: 0;
  letter-spacing: .05em;
  font-size: 50px;
  position: relative;
  top: -50px;
  font-weight: 700;
  line-height: 40px;
}

@media screen and (max-width: 768px) {
  .probootstrap-heading .secondary-heading {
    font-size: 40px;
  }
}

.probootstrap-heading.dark .secondary-heading {
  color: #000000;
}

.probootstrap-heading .seperator {
  display: block;
  margin: 0 auto 10px auto;
  color: #ccc;
  font-weight: 300;
}
.probootstrap-heading .primary-heading {
  font-family: "Pinyon Script", serif;
  color: #FFA33E;
  margin: 0;
  padding: 0;
  font-size: 80px;
}

@media screen and (max-width: 768px) {
  .probootstrap-heading .primary-heading {
    font-size: 70px;
  }
}
.probootstrap-heading .secondary-heading {
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding: 0;
  letter-spacing: .05em;
  font-size: 50px;
  position: relative;
  top: -50px;
  font-weight: 700;
  line-height: 40px;
}

@media screen and (max-width: 768px) {
  .probootstrap-heading .secondary-heading {
    font-size: 40px;
  }
}

.probootstrap-heading.dark .secondary-heading {
  color: #000000;
}
.logo {
  margin-top: 5px;
}
.logo {
  font-weight: 500 !important;
  font-size: 26px !important;
  color: #ffffff !important;
  font-family: 'Mitr', sans-serif !important;
}
.logo span {
  color: #3853e9;
}
.navbar-header-white .logo {
  color: #222328 !important;
}