<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <link rel="stylesheet" href="../../static/css/navbar.css">
    <title>Create Deal</title>
  </head>
  <body>
      <div class="navbar">
          <nav class="navbar navbar-default navbar-fixed-top thenav">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span><!DOCTYPE html>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div id="navbar" class="collapse navbar-collapse">
                {% if request.session.user_id %}
                  <h3 style="vertical-align:top; display:inline-block;">Welcome <a href="/users/{{request.session.user_id}}" style="color:skyblue;">{{this_user.first_name}}</a>!</h3>
                {% elif request.session.business_id %}
                  <h3 style="vertical-align:top; display:inline-block;">Welcome <a href="/businesses/{{request.session.business_id}}" style="color:skyblue;">{{this_business.name}}</a>!</h3>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                  <li><a class="navlinks" href="/">Home</a></li>
                  <li><a class="navlinks" href="/meetups">Meetups</a></li>
                  <li><a class="navlinks" href="/messageboard">Message Board</a></li>
                  <!-- <li><a class="navlinks" href="/social">Social</a></li> -->
                  <li><a class="navlinks" href="/deals" style="color:#e4e4e4; opacity:1;">Deals</a></li>
                  <li>
                    <div class="dropdown">
                      {% if request.session.user_id %}
                        {% if this_user.image %}
                          <img class="dropbtn" src="{{this_user.image.url}}" alt="">
                        {% else %}
                          <img class="dropbtn" src="../../static/images/blankpic.jpg" alt="">
                        {% endif %}
                      {% elif request.session.business_id %}
                        {% if this_business.image %}
                          <img class="dropbtn" src="{{this_business.image.url}}" alt="">
                        {% else %}
                          <img class="dropbtn" src="../../static/images/blankpic.jpg" alt="">
                        {% endif %}
                      {% endif %}
                      <div class="dropdown-content">
                        {% if request.session.user_id %}
                          <a href="/users/{{request.session.user_id}}">Account Overview</a>
                        {% elif request.session.business_id %}
                          <a href="/businesses/{{request.session.business_id}}">Account Overview</a>
                        {% endif %}
                        <a href="/bookmarks">My Bookmarks</a>
                        <a href="updateprofile">Edit Profile</a>
                        <a href="/logout">Log Out</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
    <h2>Please add the details of your business below and select from the following page</h2>
        <form class="" action="/pickbusiness" method="post">
          {% csrf_token %}
          <p>Business Name: <input type="text" name="keyword" placeholder="Your Business Name"></p>
          <p>Location:
            <input type="text" name="location" placeholder="Your City"></p>

          <input type="submit" name="" value="submit">
        </form>
        {{ thedata }}

        <div class="">

        </div>

  </body>
</html>
