<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <meta charset="utf-8">
    <title>DEALS</title>
  </head>
  <body>
    <div class="navbar">
      <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#1a1a1a; color:#e4e4e4;">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <h3 style="vertical-align:top; display:inline-block;">Welcome {{request.session.first_name}}!</h3>
            <ul class="nav navbar-nav navbar-right">
              <!-- <li><div style="display:inline-block; margin-top:20px; margin-right:150px;">
                <form action="/" method="post">
                  {% csrf_token %}
                  <input type="text" placeholder="Search..." style="color:black; width:300px;">
                </form>
              </div></li> -->
              <li><a href="/" style="color:#e4e4e4;">Home</a></li>
              <li><a href="/meetups" style="color:#e4e4e4;">Meetups</a></li>
              <li><a href="/messageboard" style="color:#e4e4e4;">Message Board</a></li>
              <li><a href="/social" style="color:#e4e4e4;">Social</a></li>
              <li><a href="/deals" style="color:#e4e4e4;">Deals</a></li>
              <li><a href="/logout" style="color:skyblue;">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    {% if request.session.business_id %}
      <form class="createbutt" action="/createdeal" method="post">
        {% csrf_token %}
        <input type="submit" name="deal" value="create deal">
      </form>
    {% endif %}
      <div class="">

        <h1>This is Deals Template</h1>
      </div>

    <div class="footer">
      <div class="conatiner">
        <div class="row">
          <div class="col-md-3">
            <h4 class="footerheader">Company</h3>
            <a class="linkcont"  style="display:block;" href="/aboutus">About us</a>
            <a class="linkcont" style="display:block;" href="/careers">Careers</a>
          </div>
          <div class="col-md-3">
            <h4 class="footerheader">Support</h3>
            <a class="linkcont" href="/contact">Contact</a>
          </div>
          <div class="col-md-3">
            <h4 class="footerheader">Partners</h3>
            <a  class="linkcont" href="gyms">Gyms</a>
          </div>
          <div class="col-md-3">
            <h4 class="footerheader">Community</h3>
            <a  class="linkcont" href="Blog">Blog</a>
          </div>
        </div>
      </div>
      <h4 class="appstorehead" style="color:white; margin-left:8%; margin-top:5%">Enjoy GymFinder on the go!</h4>
      <div class="appstorelink">
        <a href="/appstore"><img class="appstore" src="../../static/images/appstorelink.png" alt=""></a>
      </div>

    </div>

  </body>
</html>
