<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Find Password</title>
  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
      <script>
        alert('{{message}}');
      </script>
      {% endfor %}
    {% endif %}

    <h1>Find Password</h1>
    Please enter your email to search for your account.
    <form action="/findpassword2" method="post">
      {% csrf_token %}
      <input type="email" name="email" placeholder="Email">
      <br>
      <input type="submit" value="Next">
      <a href="/">Cancel</a>
    </form>
  </body>
</html>
