<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Mitr:500" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <title>Pick Business page</title>
    <link rel="stylesheet" href="../../static/css/form.css">
    <link rel="stylesheet" href="../../static/css/navbar.css">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Finish Form</title>
  </head>
  <body>
    <div class="navbar">
      <nav class="navbar navbar-default navbar-fixed-top thenav">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span><!DOCTYPE html>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <!-- {% if request.session.user_id %}
              <h3 style="vertical-align:top; display:inline-block;">Welcome <a href="/users/{{request.session.user_id}}" style="color:skyblue;">{{this_user.first_name}}</a>!</h3>
            {% elif request.session.business_id %}
              <h3 style="vertical-align:top; display:inline-block;">Welcome <a href="/businesses/{{request.session.business_id}}" style="color:skyblue;">{{this_business.name}}</a>!</h3>
            {% endif %} -->
            <a class="navbar-brand logo" href="/">
                Stay<span>En</span>Motion
            </a>
            <ul class="nav navbar-nav navbar-right">
              <li><a class="navlinks" href="/">Home</a></li>
              <li><a class="navlinks" href="/meetups">Meetups</a></li>
              <li><a class="navlinks" href="/messageboard">Message Board</a></li>
              <!-- <li><a class="navlinks" href="/social">Social</a></li> -->
              <li><a class="navlinks" href="/deals" style="color:#e4e4e4; opacity:1;">Deals</a></li>
              <li>
                <div class="dropdown">
                  {% if request.session.user_id %}
                    {% if this_user.image %}
                      <img class="dropbtn" src="{{this_user.image.url}}" alt="">
                    {% else %}
                      <img class="dropbtn" src="../../static/images/blankpic.jpg" alt="">
                    {% endif %}
                  {% elif request.session.business_id %}
                    {% if this_business.image %}
                      <img class="dropbtn" src="{{this_business.image.url}}" alt="">
                    {% else %}
                      <img class="dropbtn" src="../../static/images/blankpic.jpg" alt="">
                    {% endif %}
                  {% endif %}
                  <div class="dropdown-content">
                    {% if request.session.user_id %}
                      <a href="/users/{{request.session.user_id}}">Account Overview</a>
                    {% elif request.session.business_id %}
                      <a href="/businesses/{{request.session.business_id}}">Account Overview</a>
                    {% endif %}
                    <a href="/bookmarks">My Bookmarks</a>
                    <a href="/updateprofile">Edit Profile</a>
                    <a href="/logout">Log Out</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    {% if messages %}
      {% for message in messages %}
        <p style="color:red";>{{message}}</p>
      {% endfor %}
    {% endif %}

      <div class="banner_top">
        <h3 class="pagetitle">Submit a deal</h3>
        <h5 class="titledesc">Market your business to a wide range of fitness enthusiasts.</h5>
      </div>
      <p class="toptext">Do you have a great deal to offer our members?  This is a great way for you to reach many indivduals that value fitness.  Our users love to spread the word on great businesses, add a deal today to to reach our users.</p>
      <form class="form" action="/savingnewdeal" method="post">

        <img class="businessimage" src="{{theimage}}" alt="">
      <div class="container">
        <div class="row" style="width:100%;">
          <div class="form_left bothforms">
          <div class="col-md-2">
              <label for="businessname">Business Name: </label>
              <br>
                {% csrf_token %}
              <p name="businessname">{{name}}</p>
              <input type="hidden" name="businessname" value="{{name}}">
              <label for="address">Address:</label>
              <p name="address">{{address}}</p>
              <input type="hidden" name="address" value="{{address}}">
              <label for="city">City:</label>
              <p name="city">{{ city }}</p>
              <input type="hidden" name="city" value="{{city}}">
              <!-- <input type="text" name="city" value="{{ city }}" required minlength="1"> -->
              <label for="state">State:</label>
              <p name="state">{{state}}</p>
              <input type="hidden" name="state" value="{{state}}">
              <!-- <input type="text" name="state" value="{{ state }}"> -->
              <label for="title">Title: </label>
              <input type="title" name="title" required minlength="1">
              <label for="price">Price:</label>
              <input type="number" name="price" value=""placeholder="ex:10.00" required minlength="1">
              <label for="fine_print">Fine Print: </label>
              <textarea name="fine_print" rows="8" cols="40" placeholder="FinePrint Here" required minlength="1"></textarea>
            </div>
          <div class="col-md-2">
            <div class="form_right bothforms">
              <label for="dealtype">Deal Type: </label>
              <br>
              <select name="deal_type">
                <option value="trial">Trial</option>
                <option value="coupon">Coupon</option>
                <option value="rebate">Rebate</option>
                <option value="discount">Discount</option>
              </select>
              <br>
              <label for="contact_email">Contact Email:</label>
              <input type="email" name="contact_email" placeholder="Email" required minlength="1">
              <br>
              <label for="start_date">Start date:</label>
              <br>
              <input type="date" name="start_date" required minlength="1">
              <br>
              <label for="end_date">End date:</label>
              <br>
              <input type="date" name="end_date" required minlength="1">
              <br>
              <label for="details">Deal details: </label>
              <textarea name="details" rows="8" cols="40" placeholder="Deal details" required minlength="5"></textarea>
              <br>
            </div>
          </div>
        </div>

        </div>
      </div>
      <input class="submitbutton" type="submit" name="" value="submit">
  </form>

  <footer class="bg-dark footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-12">
                <h4 class="logo">Stay<span>En</span>Motion</h4>
                <p>We believe that exercise should not be difficult.  We want to create a easy to use resource for people of all walks of life to get out and exercise more.  Join today and get fit with us!</p>

                <ul class="list-inline social">
                    <li>
                        <a href="javascript:void(0);" class="bg-twitter"><i class="ti-twitter-alt"></i></a>
                    </li>
                    <!-- <li>
                        <a href="javascript:void(0);" class="bg-dribbble"><i class="ti-dribbble"></i></a>
                    </li> -->
                    <li>
                        <a href="javascript:void(0);" class="bg-linkedin"><i class="ti-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="bg-googleplus"><i class="ti-google"></i></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="bg-facebook"><i class="ti-facebook"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-6 col-md-offset-2">
                <h5>All About Us</h5>
                <ul class="list-unstyled footer-list">
                    <li><a href="/aboutus">About Us</a></li>
                    <li><a href="/careers">Careers</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/messageboard">Blog</a></li>
                    <!-- <li><a href="">Green energy</a></li> -->
                </ul>
            </div>

            <div class="col-md-3 col-sm-6">
                <h5>Useful Links</h5>
                <ul class="list-unstyled footer-list">
                    <!-- <li><a href="">About Us</a></li> -->
                    <!-- <li><a href="">Help &amp; Support</a></li> -->
                    <li><a href="">Privacy Policy</a></li>
                    <!-- <li><a href="">Terms &amp; Conditions</a></li> -->
                    <!-- <li><a href="">FAQ</a></li> -->
                </ul>
            </div>

        </div> <!-- end row -->


    </div> <!-- end container -->
</footer>
<div class="footer-alt bg-dark">
  <p class="copy-rights">2016 © StayEnMotion. All Rights Reserved</p>
</div>
  </body>
</html>
