<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title>WELCOME</title>
    <link rel="stylesheet" href="../../static/css/home.css">
    <link rel="stylesheet" href="../../static/css/navbar.css">
  </head>
  <body>
    <div class="top_image">
      <div class="navbar">
        <nav class="navbar navbar-default navbar-fixed-top thenav">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span><!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<!-- BASICS -->
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Amoeba free one page responsive bootstrap site template</title>
        <meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />
		<link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/style.css">
		<!-- skin -->
		<link rel="stylesheet" href="skin/default.css">
    </head>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              {% if request.session.user_id %}
                <h3 style="vertical-align:top; display:inline-block;">Welcome <a href="/users/{{request.session.user_id}}" style="color:darkblue;">{{this_user.first_name}}</a>!</h3>
              {% elif request.session.business_id %}
                <h3 style="vertical-align:top; display:inline-block;">Welcome <a href="/businesses/{{request.session.business_id}}" style="color:darkblue;">{{this_business.name}}</a>!</h3>
              {% endif %}
              <ul class="nav navbar-nav navbar-right">
                <li><a class="navlinks" href="/">Home</a></li>
                <li><a class="navlinks" href="/meetups">Meetups</a></li>
                <li><a class="navlinks" href="/messageboard">Message Board</a></li>
                <li><a class="navlinks" href="/social">Social</a></li>
                <li><a class="navlinks" href="/deals" style="color:#e4e4e4;">Deals</a></li>
                <li>
                  <div class="dropdown">
                    {% if request.session.user_id %}
                      {% if this_user.image %}
                        <img class="dropbtn" src="{{this_user.image.url}}" alt="">
                      {% else %}
                        <img class="dropbtn" src="../../static/images/blankpic.jpg" alt="">
                      {% endif %}
                    {% elif request.session.business_id %}
                      {% if this_business.image %}
                        <img class="dropbtn" src="{{this_business.image.url}}" alt="">
                      {% else %}
                        <img class="dropbtn" src="../../static/images/blankpic.jpg" alt="">
                      {% endif %}
                    {% endif %}
                    <div class="dropdown-content">
                      {% if request.session.user_id %}
                        <a href="/users/{{request.session.user_id}}">Account Overview</a>
                      {% elif request.session.business_id %}
                        <a href="/businesses/{{request.session.business_id}}">Account Overview</a>
                      {% endif %}
                      <a href="#">My Deals</a>
                      <a href="#">Settings</a>
                      <a href="/logout">Log Out</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <h1 style="font-weight:bold; font-size:140px; color:white; text-align:center; margin-top:50px;">YOUR ONLY LIMIT IS YOU</h1>
    </div>
   <!-- <div id="image">
     <div>
     </div>
   </div>
  <script>
    var images = ["<img src='../../static/images/gym0.jpg'>", "<img src='../../static/images/gym1.jpg'>", "<img src='../../static/images/gym2.jpg'>", "<img src='../../static/images/gym3.jpg'>", "<img src='../../static/images/gym4.jpg'>"];
    el = document.getElementById('image');
    image_counter = 0;
    function updateImage(){
      el.innerHTML = images[image_counter++];
      if(image_counter == images.length){
        image_counter = 0;
      }
    }
    updateImage();
    setInterval(updateImage, 5000);
  </script> -->
    <div class="dealsback">
      <div class="container dealscontains">
        <h3 class="dealsheader">Deals</h3>
        <a class="dealslink" href="/meetups">View all Meetups</a>
        <div class="row dealssub">
          <div class="dealscontent">

              <div class="col-md-3 thesecs">
                <div class="imageicon">
                  <img src="../../static/images/wierdladyportrait.png" alt="">
                </div>
                <div class="overlay1">
                  <h1 class="deatilscont">Details</h1>
                  <a class="detailsbutt" href="meetups/{{meetups.0.id}}"></a>
                </div>
                <h4 class="eventname">{{meetups.0.eventname}}</h4>
                <p class ="eventlocation">Location: {{ meetups.0.location }}</p>
                <p class="description">Description: {{ meetups.0.description }}</p>
                <p class="details">Details: {{ meetup.0.details }}</p>
              </div>

            <div class="col-md-3 thesecs">
              <div class="overlay1">
                <h1>Details</h1>
                <a class="detailsbutt" href="meetups/{{meetups.0.id}}"></a>
              </div>
              <h4 class="eventname">{{meetups.1.eventname}}</h4>
              <p class ="eventlocation">Location: {{ meetups.1.location }}</p>
              <p class="description">Description: {{ meetups.1.description }}</p>
              <p class="details">Details: {{ meetup.1.details }}</p>
            </div>

              <div class="col-md-3 thesecs">
                <div class="overlay1">
                  <h1>Details</h1>
                  <a class="detailsbutt" href="meetups/{{meetups.0.id}}"></a>
                </div>
                <h4 class="eventname">{{meetups.2.eventname}}</h4>
                <p class ="eventlocation">Location: {{ meetups.2.location }}</p>
                <p class="description">Description: {{ meetups.2.description }}</p>
                <p class="details">Details: {{ meetup.2.details }}</p>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main_messageboard">
      <div class="messbackground">

        <div class="messarea">
          <h3 class="boardtitle">Message Board</h3>
          <!-- <div class="container"> -->
            <div class="themessage">
             <div class="col-md-2">
               <img class="image" src="../../static/images/blankpic.jpg" alt="">
             </div>
             <div class="col-md-3">
               <span class="message_details">Title here</span>
               <span class="message_details">Author</span>
               <span class="message_details">Creation Date</span>
             </div>
             <div class="col-md-2">
               <span>views:#</span>
             </div>
             <div class="col-md-5">
               <span>message content</span>
             </div>
           </div>
           <div class="themessage">
            <div class="col-md-2">
              <img class="image" src="../../static/images/blankpic.jpg" alt="">
            </div>
            <div class="col-md-3">
              <span class="message_details">Title here</span>
              <span class="message_details">Author</span>
              <span class="message_details">Creation Date</span>
            </div>
            <div class="col-md-2">
              <span>views:#</span>
            </div>
            <div class="col-md-5">
              <span>message content</span>
            </div>
          </div>
          <div class="themessage">
           <div class="col-md-2">
             <img class="image" src="../../static/images/blankpic.jpg" alt="">
           </div>
           <div class="col-md-3">
             <span class="message_details">Title here</span>
             <span class="message_details">Author</span>
             <span class="message_details">Creation Date</span>
           </div>
           <div class="col-md-2">
             <span>views:#</span>
           </div>
           <div class="col-md-5">
             <span>message content</span>
           </div>
         </div>

       <!-- </div> -->


     </div>
   </div>
 </div>
 <section class="probootstrap-section-bg overlay" style="background-image: url(../../assets/images/snails.jpg);" data-stellar-background-ratio="0.5" data-section="specialties">
   <div class="container">
     <div class="row">
       <div class="col-md-12 text-center probootstrap-animate">
         <div class="probootstrap-heading">
           <h2 class="primary-heading">Discover</h2>
           <h3 class="secondary-heading">Our Meetups</h3>
         </div>
       </div>
     </div>
   </div>
 </section>
 <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="probootstrap-cell-retro">
          <div class="half">

            <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
              <div class="image" style="background:url(../../static/images/blankpic.jpg)"></div>
              <!-- "./../../assets/images/{{post.filename}}" -->
              <div class="text text-center">
                <h3>{{meetups_list.0.eventname}}</h3>
                <p>{{meetups_list.0.description}}</p>
                <p>{{meetups_list.0.location}}</p>
                <p>{{meetups_list.0.date}}</p>
                <a href="/meetups/{{meetups_list.0.id}}">more details</a>
              </div>
            </div>
            <div class="probootstrap-cell reverse probootstrap-animate" data-animate-effect="fadeIn">
              <div class="image" style="background:url(../../static/images/blankpic.jpg)"></div>
              <div class="text text-center">
                  <h3>topPosts[1].name</h3>
                  <p>topPosts[1].description</p>
                  <p>by: topPosts[1].user.username</p>
                  <p>topPosts[1].filename|json</p>
                  <a href="/postview/meetups[1].id">more details</a>
              </div>
            </div>
            <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
              <div class="image" style="background:url(../../static/images/blankpic.jpg)"></div>
              <!-- "./../../assets/images/{{post.filename}}" -->
              <div class="text text-center">
                <h3>topPosts[2].name</h3>
                <p>topPosts[2].description</p>
                <p>by:topPosts[2].user.username</p>
                <p>topPosts[2].filename|json</p>
                <a href="/postview/topPosts[2]._id">more details</a>
              </div>
            </div>

          </div>
          <div class="half">

            <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
              <div class="image" style="background:url(../../static/images/blankpic.jpg)"></div>
              <!-- "./../../assets/images/{{post.filename}}" -->
              <div class="text text-center">
                <h3>topPosts[3].name</h3>
                <p>topPosts[3].description</p>
                <p>by:topPosts[3].user.username</p>
                <p>topPosts[3].filename</p>
                <a href="/postview/topPosts[3]._id">more details</a>
              </div>
            </div>
            <div class="probootstrap-cell reverse probootstrap-animate" data-animate-effect="fadeIn">
              <div class="image" style="background:url(../../static/images/blankpic.jpg)"></div>
              <!-- "./../../assets/images/{{post.filename}}" -->
              <div class="text text-center">
                <h3>topPosts[4].name</h3>
                <p>topPosts[4].description</p>
                <p>by:topPosts[4].user.username</p>
                <p>topPosts[4].filename|json</p>
                <a href="/postview/topPosts[4]._id">more details</a>
              </div>
            </div>
            <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
              <div class="image" style="background:url(../../static/images/blankpic.jpg)"></div>
              <!-- "./../../assets/images/{{post.filename}}" -->
              <div class="text text-center">
                <h3>topPosts[5].name</h3>
                <p>topPosts[5].description</p>
                <p>by:topPosts[5].user.username</p>
                <p>topPosts[5].filename|json</p>
                <a href="/postview/topPosts[5]._id}}">more details</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
   <!-- <div class="meetupsbackground">
     <div class="meetuparea">
       <p class="meetuptext">Meetups</p>
       <div class="meetup">
        <p class="meetuptitle">title</p>
        <p class=""></p>
       </div>
     </div>
   </div> -->

   <div class="footer">
     <div class="conatiner">
       <div class="row">
         <div class="col-md-3">
           <h4 class="footerheader">Company</h5>
             <a class="linkcont" href="/aboutus">About us</a>
             <a class="linkcont" href="/careers">Careers</a>
           </div>
           <div class="col-md-3">
             <h4 class="footerheader">Support</h4>
             <a class="linkcont" href="/contact">Contact</a>
           </div>
           <div class="col-md-3">
             <h4 class="footerheader">Partners</h4>
             <a  class="linkcont" href="gyms">Gyms</a>
           </div>
           <div class="col-md-3">
             <h4 class="footerheader">Community</h4>
             <a class="linkcont" href="Blog">Blog</a>
           </div>
           <div class="col-md-3">
            <h4 class="footerheader">Community</h4>
            <a class="linkcont" href="Blog">Blog</a>
          </div>
         </div>
       </div>
       <h4 class="appstorehead" style="color:white; margin-left:8%; margin-top:5%">Enjoy GymFinder on the go!</h4>
       <div class="appstorelink">
         <a href="/appstore"><img class="appstore" src="../../static/images/appstorelink.png" alt=""></a>
       </div>

     </div>


  </body>
</html>
