<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title>WELCOME</title>
    <link rel="stylesheet" href="../../static/css/home.css">
    <link rel="stylesheet" href="../../static/css/navbar.css">
  </head>
  <body>
    <div class="top_image">
      <div class="navbar">
        <nav class="navbar navbar-default navbar-fixed-top thenav">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span><!DOCTYPE html>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              {% if request.session.user_id %}
                <h3 style="vertical-align:top; display:inline-block;">Welcome <a href="/users/{{request.session.user_id}}" style="color:skyblue;">{{this_user.first_name}}</a>!</h3>
              {% elif request.session.business_id %}
                <h3 style="vertical-align:top; display:inline-block;">Welcome <a href="/businesses/{{request.session.business_id}}" style="color:skyblue;">{{this_business.name}}</a>!</h3>
              {% endif %}
              <ul class="nav navbar-nav navbar-right">
                <li><a class="navlinks" href="/">Home</a></li>
                <li><a class="navlinks" href="/meetups">Meetups</a></li>
                <li><a class="navlinks" href="/messageboard">Message Board</a></li>
                <li><a class="navlinks" href="/social">Social</a></li>
                <li><a class="navlinks" href="/deals" style="color:#e4e4e4;">Deals</a></li>
                <li>
                  <div class="dropdown">
                    {% if request.session.user_id %}
                      {% if this_user.image %}
                        <img class="dropbtn" src="{{this_user.image.url}}" alt="">
                      {% else %}
                        <img class="dropbtn" src="../../static/images/blankpic.jpg" alt="">
                      {% endif %}
                    {% elif request.session.business_id %}
                      {% if this_business.image %}
                        <img class="dropbtn" src="{{this_business.image.url}}" alt="">
                      {% else %}
                        <img class="dropbtn" src="../../static/images/blankpic.jpg" alt="">
                      {% endif %}
                    {% endif %}
                    <div class="dropdown-content">
                      {% if request.session.user_id %}
                        <a href="/users/{{request.session.user_id}}">Account Overview</a>
                      {% elif request.session.business_id %}
                        <a href="/businesses/{{request.session.business_id}}">Account Overview</a>
                      {% endif %}
                      <a href="#">My Deals</a>
                      <a href="#">Settings</a>
                      <a href="/logout">Log Out</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <h1 style="font-weight:bold; font-size:140px; color:white; text-align:center; margin-top:50px;">YOUR ONLY LIMIT IS YOU</h1>
    </div>
   <!-- <div id="image">
     <div>
     </div>
   </div>
  <script>
    var images = ["<img src='../../static/images/gym0.jpg'>", "<img src='../../static/images/gym1.jpg'>", "<img src='../../static/images/gym2.jpg'>", "<img src='../../static/images/gym3.jpg'>", "<img src='../../static/images/gym4.jpg'>"];
    el = document.getElementById('image');
    image_counter = 0;
    function updateImage(){
      el.innerHTML = images[image_counter++];
      if(image_counter == images.length){
        image_counter = 0;
      }
    }
    updateImage();
    setInterval(updateImage, 5000);
  </script> -->
    <div class="dealsback">
      <div class="container dealscontains">
        <h3 class="dealsheader">Deals</h3>
        <a class="dealslink" href="/deals">View all deals</a>
        <div class="row dealssub">
          <div class="dealscontent">

              <div class="col-md-3 thesecs">
                <div class="imageicon">
                  {% if deals_list.0.business.image %}
                  <img src="{{deals_list.0.business.image.url}}" alt="">
                  {% else %}
                  <img src="../../static/images/wierdladyportrait.png" alt="">
                  {% endif %}
                </div>
                <div class="overlay1">
                  <h1 class="detailscont">{{deals_list.0.business.name}}</h1>
                  <a class="detailsbutt" href="deal/{{deals_list.0.business.id}}"></a>
                </div>
                {{deals_list}}
                <h4 class="eventname">{{deals_list.0.business.name}}</h4>
                <p class ="eventlocation">Type: {{deals_list.0.deal_type}}</p>
                <p class="description">Price: {{deals_list.0.price}}</p>
                <p class="details">Expires: {{ deals_list.0.end_date }}</p>
              </div>

              <div class="col-md-3 thesecs">
                <div class="imageicon">
                  {% if deals_list.1.business.image %}
                  <img src="{{deals_list.1.business.image.url}}" alt="">
                  {% else %}
                  <img src="../../static/images/wierdladyportrait.png" alt="">
                  {% endif %}
                </div>
                <div class="overlay1">
                  <h1 class="detailscont">{{deals_list.1.business.name}}</h1>
                  <a class="detailsbutt" href="deal/{{deals_list.1.business.id}}"></a>
                </div>
                <h4 class="eventname">{{deals_list.1.business.name}}</h4>
                <p class ="eventlocation">Location: {{deals_list.1.deal_type}}</p>
                <p class="description">Price: {{deals_list.1.price}}</p>
                <p class="details">Expires: {{ deals_list.1.end_date }}</p>
              </div>

              <div class="col-md-3 thesecs">
                <div class="imageicon">
                  {% if deals_list.2.business.image %}
                  <img src="{{deals_list.2.business.image.url}}" alt="">
                  {% else %}
                  <img src="../../static/images/wierdladyportrait.png" alt="">
                  {% endif %}
                </div>
                <div class="overlay1">
                  <h1 class="detailscont">{{deals_list.2.business.name}}</h1>
                  <a class="detailsbutt" href="deal/{{deals_list.2.business.id}}"></a>
                </div>
                <h4 class="eventname">{{deals_list.2.business.name}}</h4>
                <p class ="eventlocation">Location: {{deals_list.2.deal_type}}</p>
                <p class="description">Price: {{deals_list.2.price}}</p>
                <p class="details">Expires: {{ deals_list.2.end_date }}</p>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main_messageboard">
      <div class="messbackground">

        <div class="messarea">
          <h3 class="boardtitle">Message Board</h3>
          <!-- <div class="container"> -->
            <div class="themessage">
             <div class="col-md-2">
               {% if messages_list.0.image %}
               <img class="messageimage" src="{{messsages_list.0.image.url}}" alt="">
               {% else %}
               <img class="messageimage" src="../../static/images/blankpic.jpg" alt="">
                {% endif %}
             </div>
             <div class="col-md-3">
               <span class="message_details">{{messages_list.0.title}}</span>
               <span class="message_details">{{messages_list.0.user.first_name}}</span>
               <span class="message_details">{{messages_list.0.created_at}}</span>
             </div>
             <div class="col-md-2">
               <span>views:{{messages_list.0.messageboard_message_views.count}}</span>
             </div>
             <div class="col-md-5">
               <span>{{messages_list.0.message}}</span>
             </div>
           </div>
           <div class="themessage">
             <div class="col-md-2">
               {% if messages_list.0.image %}
               <img class="messageimage" src="{{messsages_list.2.image.url}}" alt="">
               {% else %}
               <img class="messageimage" src="../../static/images/blankpic.jpg" alt="">
                {% endif %}
             </div>
            <div class="col-md-3">
              <span class="message_details">{{messages_list.1.title}}</span>
              <span class="message_details">{{messages_list.1.user.first_name}}</span>
              <span class="message_details">{{messages_list.1.created_at}}</span>
            </div>
            <div class="col-md-2">
              <span>views:{{messages_list.1.messageboard_message_views.count}}</span>
            </div>
            <div class="col-md-5">
              <span>{{messages_list.1.message}}</span>
            </div>
          </div>
          <div class="themessage">
            <div class="col-md-2">
              <!-- {{messages_list.2.image}} -->
              {% if messages_list.2.image %}
              <img class="messageimage" src="{{messages_list.2.image.url}}" alt="">
              {% else %}
              <img class="messageimage" src="../../static/images/blankpic.jpg" alt="">
               {% endif %}
            </div>
           <div class="col-md-3">
             <span class="message_details">{{messages_list.2.title}}</span>
             <span class="message_details">{{messages_list.2.user.first_name}}</span>
             <span class="message_details">{{messages_list.0.created_at}}</span>
           </div>
           <div class="col-md-2">
             <span>views:{{messages_list.1.messageboard_message_views.count}}</span>
           </div>
           <div class="col-md-5">
             <span>{{messages_list.2.message}}</span>
           </div>
         </div>

       <!-- </div> -->


     </div>
   </div>
 </div>
 <section class="probootstrap-section-bg overlay" style="background-image: url(../../static/images/baseball.jpg);" data-stellar-background-ratio="0.5" data-section="specialties">
   <div class="container">
     <div class="row">
       <div class="col-md-12 text-center probootstrap-animate">
         <div class="probootstrap-heading">
           <h2 class="primary-heading">Discover</h2>
           <h3 class="secondary-heading">Our Meetups</h3>
         </div>
       </div>
     </div>
   </div>
 </section>
 <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="probootstrap-cell-retro">
          <div class="half">

            <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
              {% if meetups_list.1.user.image %}
                <div class="image" style="backgroud-image:url({{meetups_list.1.user.image}})"></div>
              {% else %}
              <div class="image" style="background-image:url(../../static/images/blankpic.jpg)"></div>
                <!-- "./../../assets/images/{{post.filename}}" -->
                {% endif %}
              <div class="text text-center">
                <h3>{{meetups_list.0.eventname}}</h3>
                <p>{{meetups_list.0.description}}</p>
                <p>{{meetups_list.0.location}}</p>
                <p>{{meetups_list.0.date}}</p>
                {% if meetups_list.0 %}
                  <a href="/meetups/{{meetups_list.0.id}}">more details</a>
                {% endif %}
              </div>
            </div>
            <div class="probootstrap-cell reverse probootstrap-animate" data-animate-effect="fadeIn">
              {% if meetups_list.1.user.image %}
                <div class="image" style="backgroud-image:url({{meetups_list.1.user.image}})"></div>
              {% else %}
                <div class="image" style="background-image:url(../../static/images/blankpic.jpg)"></div>
                <!-- "./../../assets/images/{{post.filename}}" -->
                {% endif %}
              <div class="text text-center">
                <h3>{{meetups_list.1.eventname}}</h3>
                <p>{{meetups_list.1.description}}</p>
                <p>{{meetups_list.1.location}}</p>
                <p>{{meetups_list.1.date}}</p>
                {% if meetups_list.1 %}
                  <a href="/meetups/{{meetups_list.1.id}}">more details</a>
                {% endif %}
              </div>
            </div>
            <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
              {% if meetups_list.2.user.image %}
                <div class="image" style="background-image:url({{meetups_list.2.user.image}})"></div>
              {% else %}
                <div class="image" style="background-image:url(../../static/images/blankpic.jpg)"></div>
                <!-- "./../../assets/images/{{post.filename}}" -->
                {% endif %}              <!-- "./../../assets/images/{{post.filename}}" -->
              <div class="text text-center">
                <h3>{{meetups_list.2.eventname}}</h3>
                <p>{{meetups_list.2.description}}</p>
                <p>{{meetups_list.2.location}}</p>
                <p>{{meetups_list.2.date}}</p>
                {% if meetups_list.2 %}
                  <a href="/meetups/{{meetups_list.2.id}}">more details</a>
                {% endif %}
              </div>
            </div>

          </div>
          <div class="half">

            <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
              {% if meetups_list.3.user.image %}
                <div class="image" style="backgroud-image:url(meetups_list.3.user.image)"></div>
              {% else %}
              <div class="image" style="background-image:url(../../static/images/blankpic.jpg)"></div>
                <!-- "./../../assets/images/{{post.filename}}" -->
                {% endif %}
              <div class="text text-center">
                <h3>{{meetups_list.3.eventname}}</h3>
                <p>{{meetups_list.3.description}}</p>
                <p>{{meetups_list.3.location}}</p>
                <p>{{meetups_list.3.date}}</p>
                {% if meetups_list.3 %}
                  <a href="/meetups/{{meetups_list.3.id}}">more details</a>
                {% endif %}
              </div>
            </div>
            <div class="probootstrap-cell reverse probootstrap-animate" data-animate-effect="fadeIn">
              {% if meetups_list.4.user.image %}
                <div class="image" style="backgroud-image:url(meetups_list.4.user.image)"></div>
              {% else %}
              <div class="image" style="background-image:url(../../static/images/blankpic.jpg)"></div>
                <!-- "./../../assets/images/{{post.filename}}" -->
                {% endif %}
              <div class="text text-center">
                <h3>{{meetups_list.4.eventname}}</h3>
                <p>{{meetups_list.4.description}}</p>
                <p>{{meetups_list.4.location}}</p>
                <p>{{meetups_list.4.date}}</p>
                {% if meetups_list.4 %}
                  <a href="/meetups/{{meetups_list.4.id}}">more details</a>
                {% endif %}
              </div>
            </div>
            <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
              {% if meetups_list.5.user.image %}
                <div class="image" style="backgroud-image:url(meetups_list.5.user.image)"></div>
              {% else %}
              <div class="image" style="background-image:url(../../static/images/blankpic.jpg)"></div>
                <!-- "./../../assets/images/{{post.filename}}" -->
                {% endif %}
              <div class="text text-center">
                <h3>{{meetups_list.5.eventname}}</h3>
                <p>{{meetups_list.5.description}}</p>
                <p>{{meetups_list.5.location}}</p>
                <p>{{meetups_list.5.date}}</p>
                {% if meetups_list.5 %}
                  <a href="/meetups/{{meetups_list.5.id}}">more details</a>
                {% endif %}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
   <!-- <div class="meetupsbackground">
     <div class="meetuparea">
       <p class="meetuptext">Meetups</p>
       <div class="meetup">
        <p class="meetuptitle">title</p>
        <p class=""></p>
       </div>
     </div>
   </div> -->

   <div class="footer">
     <div class="conatiner">
       <div class="row">
         <div class="col-md-3">
           <h4 class="footerheader">Company</h5>
             <a class="linkcont" href="/aboutus">About us</a>
             <a class="linkcont" href="/careers">Careers</a>
           </div>
           <div class="col-md-3">
             <h4 class="footerheader">Support</h4>
             <a class="linkcont" href="/contact">Contact</a>
           </div>
           <div class="col-md-3">
             <h4 class="footerheader">Partners</h4>
             <a  class="linkcont" href="gyms">Gyms</a>
           </div>
           <div class="col-md-3">
             <h4 class="footerheader">Community</h4>
             <a class="linkcont" href="Blog">Blog</a>
           </div>
           <div class="col-md-3">
            <h4 class="footerheader">Community</h4>
            <a class="linkcont" href="Blog">Blog</a>
          </div>
         </div>
       </div>
       <h4 class="appstorehead" style="color:white; margin-left:8%; margin-top:5%">Enjoy GymFinder on the go!</h4>
       <div class="appstorelink">
         <a href="/appstore"><img class="appstore" src="../../static/images/appstorelink.png" alt=""></a>
       </div>

     </div>


  </body>
</html>
