<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <link rel="stylesheet" href="../../static/css/navbar.css">
    <meta charset="utf-8">
    <title>Meetups page</title>
    <link rel="stylesheet" href="../../static/css/meetups.css">
  </head>
  <body>
    <div class="navbar">
      <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#348fe5; color:#e4e4e4;">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <h3 style="vertical-align:top; display:inline-block;">Welcome <a href="/users/{{request.session.user_id}}" style="color:darkblue;">{{request.session.first_name}}</a>!</h3>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/" style="color:#e4e4e4;">Home</a></li>
              <li><a href="/meetups" style="color:#e4e4e4;">Meetups</a></li>
              <li><a href="/messageboard" style="color:#e4e4e4;">Message Board</a></li>
              <li><a href="/social" style="color:#e4e4e4;">Social</a></li>
              <li><a href="/deals" style="color:#e4e4e4;">Deals</a></li>
              <li>
                <div class="dropdown">
                  {% if this_user.image %}
                    <img class="dropbtn" src="{{this_user.image.url}}" alt="">
                  {% else %}
                    <img class="dropbtn" src="../../static/images/blankpic.jpg" alt="">
                  {% endif %}
                  <div class="dropdown-content">
                    <a href="/users/{{request.session.user_id}}">Account Overview</a>
                    <a href="/register">register</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <!-- <div class="sidebar">
      <h3 style="color:blue;">HIHIASHFISDIHF</h3>
      <p>

      </p> -->
    <!-- </div> -->


    <div class="searchbar">
      <div class="searcharea">
        <form action="/meetups/search" method="GET" class="searchbarform">
          {% csrf_token %}
          <input placeholder="search..." name="search_box" type="text" required minlength="1">
          <button type="submit" name="button"><img style="height:15px; width:15px;" src='../../static/images/search_button.jpg'></button>
        </form>
        {% if request.session.user_id %}
        <button><a href="/meetups/new">Create Meetup</a></button>
        {% endif %}
        </div>

      </div>
    </div>

    <!-- <div class="header">
      <form action="/meetups/search" style="display:inline-table;" method="GET">
        {% csrf_token %}
        <input placeholder="search..." name="search_box" type="text" required minlength="1">
        <button type="submit" name="button"><img style="height:15px; width:15px;" src='../../static/images/search_button.jpg'></button>
      </form>

      {% if request.session.user_id %}
        <a href="/meetups/new"><button>Create Meetup</button></a>
      {% endif %}
      <a onClick="javascript:history.go(-1);" href="#">Previous Page</a>
    </div> -->

    <div class="content">
      <ul class="meetups_list" style="list-style:none;">
        {% for meetup in meetups_list %}

        <div class="meetupdiv">
          <li>
            <p>Date of Meetup: {{meetup.date}} <a href="/meetups/{{meetup.id}}">{{meetup.eventname}}</a> ({{meetup.location}})</p>
          </li>
          <p class="going">members going: 15</p>
          <p class="interested">Interested Members: 8</p>
        </div>
          <!-- <div class="overlay">
        </div> -->

        {% endfor %}
      </ul>
    </div>



    <div class="footer">
      <div class="conatiner">
        <div class="row">
          <div class="col-md-3">
            <h4 class="footerheader">Company</h5>
              <a class="linkcont" href="/aboutus">About us</a>
              <a class="linkcont" href="/careers">Careers</a>
            </div>
            <div class="col-md-3">
              <h4 class="footerheader">Support</h4>
              <a class="linkcont" href="/contact">Contact</a>
            </div>
            <div class="col-md-3">
              <h4 class="footerheader">Partners</h4>
              <a  class="linkcont" href="gyms">Gyms</a>
            </div>
            <div class="col-md-3">
              <h4 class="footerheader">Community</h4>
              <a class="linkcont" href="Blog">Blog</a>
            </div>
          </div>
        </div>
        <h4 class="appstorehead" style="color:white; margin-left:8%; margin-top:5%">Enjoy GymFinder on the go!</h4>
        <div class="appstorelink">
          <a href="/appstore"><img class="appstore" src="../../static/images/appstorelink.png" alt=""></a>
        </div>
      </div>

  </body>
</html>
