<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MessageBoard</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <link rel="stylesheet" href="../../static/css/messageboard.css">
    <style>
      .etc td{
        width:100px;
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#348fe5; color:#e4e4e4;">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <h3 style="vertical-align:top; display:inline-block;">Welcome <a href="/users/{{request.session.user_id}}" style="color:darkblue;">{{request.session.first_name}}</a>!</h3>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/" style="color:#e4e4e4;">Home</a></li>
              <li><a href="/meetups" style="color:#e4e4e4;">Meetups</a></li>
              <li><a href="/messageboard" style="color:#e4e4e4;">Message Board</a></li>
              <li><a href="/social" style="color:#e4e4e4;">Social</a></li>
              <li><a href="/deals" style="color:#e4e4e4;">Deals</a></li>
              <li>
                <div class="dropdown">
                  {% if this_user.image %}
                    <img class="dropbtn" src="{{this_user.image.url}}" alt="">
                  {% else %}
                    <img class="dropbtn" src="../../static/images/blankpic.jpg" alt="">
                  {% endif %}
                  <div class="dropdown-content">
                    <a href="/users/{{request.session.user_id}}">Account Overview</a>
                    <a href="#">My Deals</a>
                    <a href="#">Settings</a>
                    <a href="/logout">Log Out</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <a href="/messageboard/new"><button>New Message</button></a>
    <div class="pagetop" style="text-align:center;">
      <h1 class="pagetitle">The Message Board</h1>
    </div>
      <div class="messagedisplayarea">
        {% for message in messages_list %}
        <div class="message">
          {% if message.user.image %}
            <img class="imageinner" src="{{message.user.image.url}}" alt="">
          {% else %}
            <img class="imageinner" src="../../static/images/blankpic.jpg" alt="">
          {% endif %}
          <span class="content_wrapper" style="max-width:40%;word-break:break-word;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
            <a class="titles" href="/messageboard/{{message.id}}" style="font-size:18px;">{{message.title}}</a>
            {% if message.image %}
              <img src="../../static/images/image.gif" alt="image" style="vertical-align:top;margin-left:1%;margin-top:1%;">
            {% endif %}
            <p class="namedate"><a class="name" href="/users/{{message.user.id}}" style="font-size:18px; display:table; color:grey;">{{message.user.first_name}} {{message.user.last_name}}</a> {{message.created_at}}</p>
          </span>
          <table class="etc" style="position:relative; left:70%; bottom:60%;">
            <tr>
              <td>{{message.messageboard_comments.count}}</td>
              <td>{{message.messageboard_message_likes.count}}</td>
              <td>{{message.messageboard_message_views.count}}</td>
            </tr>
            <tr>
              <td>Comments</td>
              <td>Likes</td>
              <td>Message Views</td>
            </tr>
          </table>
        </div>
        {% endfor %}

      </div>
  </body>
</html>
