<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Threads</title>
    <link href="https://fonts.googleapis.com/css?family=Mitr:500" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <link rel="stylesheet" href="../../static/css/navbar.css">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <style>
      label{
        display:table;
      }
    </style>
  </head>
  <body>
      <div class="navbar">
          <nav class="navbar navbar-default navbar-fixed-top thenav">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span><!DOCTYPE html>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div id="navbar" class="collapse navbar-collapse">
                <!-- {% if request.session.user_id %}
                  <h3 style="vertical-align:top; display:inline-block;">Welcome <a href="/users/{{request.session.user_id}}" style="color:skyblue;">{{this_user.first_name}}</a>!</h3>
                {% elif request.session.business_id %}
                  <h3 style="vertical-align:top; display:inline-block;">Welcome <a href="/businesses/{{request.session.business_id}}" style="color:skyblue;">{{this_business.name}}</a>!</h3>
                {% endif %} -->
                <a class="navbar-brand logo" href="index.html">
                    Stay<span>En</span>Motion
                </a>
                <ul class="nav navbar-nav navbar-right">
                  <li><a class="navlinks" href="/">Home</a></li>
                  <li><a class="navlinks" href="/meetups">Meetups</a></li>
                  <li><a class="navlinks" href="/messageboard">Message Board</a></li>
                  <!-- <li><a class="navlinks" href="/social">Social</a></li> -->
                  <li><a class="navlinks" href="/deals" style="color:#e4e4e4; opacity:1;">Deals</a></li>
                  <li>
                    <div class="dropdown">
                      {% if request.session.user_id %}
                        {% if this_user.image %}
                          <img class="dropbtn" src="{{this_user.image.url}}" alt="">
                        {% else %}
                          <img class="dropbtn" src="../../static/images/blankpic.jpg" alt="">
                        {% endif %}
                      {% elif request.session.business_id %}
                        {% if this_business.image %}
                          <img class="dropbtn" src="{{this_business.image.url}}" alt="">
                        {% else %}
                          <img class="dropbtn" src="../../static/images/blankpic.jpg" alt="">
                        {% endif %}
                      {% endif %}
                      <div class="dropdown-content">
                        {% if request.session.user_id %}
                          <a href="/users/{{request.session.user_id}}">Account Overview</a>
                        {% elif request.session.business_id %}
                          <a href="/businesses/{{request.session.business_id}}">Account Overview</a>
                        {% endif %}
                        <a href="/bookmarks">My Bookmarks</a>
                        <a href="/updateprofile">Edit Profile</a>
                        <a href="/logout">Log Out</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>

        {% if messages %}
          {% for message in messages %}
          <script>
            alert('{{message}}');
          </script>
          {% endfor %}
        {% endif %}



    <div class="wrapper">
      <h4>Post a New Message</h4>
      <form action="/messageboard/new/process" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Post">
        <a href="/messageboard">Cancel</a>
      </form>
    </div>

    <div class="footer" style="margin-top:10%;">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h4 class="footerheader">Company</h5>
              <a class="linkcont" href="/aboutus">About us</a>
              <a class="linkcont" href="/careers">Careers</a>
            </div>
            <div class="col-md-3">
              <h4 class="footerheader">Support</h4>
              <a class="linkcont" href="/contact">Contact</a>
            </div>
            <div class="col-md-3">
              <h4 class="footerheader">Partners</h4>
              <a  class="linkcont" href="gyms">Gyms</a>
            </div>
            <div class="col-md-3">
              <h4 class="footerheader">Community</h4>
              <a class="linkcont" href="Blog">Blog</a>
            </div>
          </div>
        </div>
        <h4 class="appstorehead" style="color:white; margin-left:8%; margin-top:5%">Enjoy GymFinder on the go!</h4>
        <div class="appstorelink">
          <a href="/appstore"><img class="appstore" src="../../static/images/appstorelink.png" alt=""></a>
        </div>
      </div>

  </body>
</html>
