<!DOCTYPE html>
<html lang="en">
    <head>
        <!--SEO Meta Tags-->
        <meta charset="utf-8" />
        <!-- SITE TITLE -->
        <title>StayEnMotion</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="Responsive Bootstrap Multi-Purpose Landing Page Template" name="description" />
        <meta name="keywords" content="Landing, food, Landing page, exotic, Registration, Landing">
        <meta content="Harry" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="images/favicon.ico">

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Prompt:400,500,400i,700" rel="stylesheet">
        <!-- logo only -->
        <link href="https://fonts.googleapis.com/css?family=Mitr:500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Pinyon+Script" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <!-- ../../static/css/home.css -->
        <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Icon CSS -->
        <link href="../../static/css/themify-icons.css" rel="stylesheet">

        <!-- Owl Carousel CSS -->
        <link href="../../static/css/owl.carousel.css" rel="stylesheet">
        <link href="../../static/css/owl.theme.default.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../../static/dzsparallaxer/dzsparallaxer.css">
        <!-- Magnific-popup -->
        <link rel="stylesheet" href="../../static/css/magnific-popup.css">

        <!-- Custom styles for this template -->
        <link href="../../static/css/newlanding.css" rel="stylesheet">


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

    </head>


    <body  data-spy="scroll" data-target="#data-scroll">

        <!-- Loader -->
        <div id="preloader"><div id="status"><div class="spinner">Loading...</div></div></div>


        <!-- Navbar -->
        <div class="navbar navbar-custom sticky" role="navigation">
            <div class="container">
                <!-- Navbar-header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="ti-menu"></i>
                    </button>
                    <!-- LOGO -->
                    <a class="navbar-brand logo" href="index.html">
                        Stay<span>En</span>Motion
                    </a>
                </div>
                <!-- end navbar-header -->

                <!-- menu -->
                <div class="navbar-collapse collapse" id="data-scroll">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="#home">Home</a>
                        </li>
                        <li>
                            <a href="#services">How it works</a>
                        </li>

                        <li>
                            <a href="#features">Features</a>
                        </li>
                        <li>
                            <a href="/prospectmeetups">Community</a>
                        </li>
                        <li>
                            <a href="#facts">Facts</a>
                        </li>
                        <li>
                            <a href="#contact">Login</a>
                        </li>
                        <li>
                            <a href="/register" style="color:green;">Join</a>
                        </li>

                    </ul>
                </div>
                <!--/Menu -->
            </div>
            <!-- end container -->
        </div>


        {% if messages %}
          {% for message in messages %}
          <script>
            alert('{{message}}');
          </script>
          {% endfor %}
        {% endif %}



        <!-- HOME -->
        <section class="home bg-home" id="home">

            <div class="bg-overlay"></div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="home-fullscreen">
                            <div class="full-screen">
                                <div class="home-wrapper home-wrapper-alt">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h1 style="color:black">Fitness in Your Pocket</h1>
                                            <h4 style="color:black;">Finally a resource that allows you to exercise the way you want. Find a great in home routine from our resource page, or join a group, your fitness is in your hands!</h4>
                                            <a href="#services" class="btn btn-custom">Learn more</a>
                                            <!-- <a href="https://vimeo.com/175710248" class="video-btn btn popup-video"><i class="glyphicon glyphicon-play"></i>Watch Video</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- END HOME -->



        <!-- SERVICES -->
        <section class="section bg-lightgray" id="services">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <i class="ti-tag"></i>
                            <p>How We Works</p>
                            <!-- <h2>We Are <span class="text-custom">Good</span> In</h3> -->
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-sm-4">
                        <div class="services-box">
                            <i class="ti-ruler-pencil"></i>
                            <h4>Sigh Up</h4>
                            <p>Sign up for a free account today to access the following features</p>
                        </div>
                    </div> <!-- end col -->

                    <div class="col-sm-4">
                        <div class="services-box">
                            <i class="ti-book"></i>
                            <h4>Thread Library</h4>
                            <p>Access our extensive library of thread posts about everything sports related.</p>
                        </div>
                    </div> <!-- end col -->

                    <div class="col-sm-4">
                        <div class="services-box">
                            <i class="ti-pulse"></i>
                            <h4>Meetups</h4>
                            <p>Join other users for great sports events or exercise activities!  Try a new activity today and get in shape with others.</p>
                        </div>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->


                <!-- end row -->

            </div> <!-- end container -->
        </section>
        <!-- end SERVICES -->




        <!-- FEATURES -->
        <section class="section" id="features">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h2>Enjoy <small class="text-custom ti-heart"></small> StayEnMotion</h3>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row vertical-content features">
                    <div class="col-sm-5">

                        <div class="features-box">
                            <div class="number">
                                <i class="ti-ticket"></i>
                            </div>
                            <h3>Enjoy Savings</h3>
                            <h4>Search through our collection of fitness deals</h4>

                            <p>Some of the hottest fitness centers around you are posting special deals and trials for their fitness centers.  Join today to view and save on fitness.</p>
                        </div>

                    </div> <!-- end col -->
                    <div class="col-sm-2"></div>
                    <div class="col-sm-5">
                        <img src="../../static/images/viewdeals.png" class="img-responsive" alt="img">
                    </div> <!-- end col -->
                </div>
                <!-- end row -->


                <div class="row vertical-content features">
                    <div class="col-sm-7">
                        <img src="../../static/images/businesspost.png" class="img-responsive" alt="img">
                    </div> <!-- end col -->

                    <div class="col-sm-5">

                        <div class="features-box">
                            <div class="number">
                                <i class="ti-clipboard"></i>
                            </div>
                            <h3>Post Deals</h3>
                            <h4>Reach sports enthusiasts in your area</h4>

                            <p>Posts deals to our deals page to access our fitness enthused users.  Grow with us!</p>
                        </div>

                    </div> <!-- end col -->

                </div>
                <!-- end row -->
                <!-- end row -->

            </div> <!-- end container -->
        </section>
        <!-- end FEATURES -->



        <!-- TESTIMONIALS -->
        <section class="section bg-testimonials dzsparallaxer auto-init" id="features" data-options='{   direction: "reverse"}' style="height: 650px;">

            <div class="bg-overlay dzsparallaxer--target"></div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                        <!-- <div class="owl-carousel text-center"> -->
                            <!-- <div class="item"> -->
                                <!-- <div class="testimonial-box"> -->
                                    <!-- <h1><i class="ti-quote-left"></i></h1> -->
                                    <!-- <h4> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.</h4> -->
                                    <!-- <img src="images/user-1.jpg" class="testi-user img-circle" alt=""> -->
                                    <!-- <p>- Landing page User</p> -->
                                    <!-- <p>
                                        <span class="glyphicon glyphicon-star text-warning"></span>
                                        <span class="glyphicon glyphicon-star text-warning"></span>
                                        <span class="glyphicon glyphicon-star text-warning"></span>
                                        <span class="glyphicon glyphicon-star text-warning"></span>
                                        <span class="glyphicon glyphicon-star text-warning"></span>
                                    </p> -->
                                <!-- </div> -->
                            <!-- </div> slider item -->
                            <!-- <div class="item"> -->
                                <!-- <div class="testimonial-box">
                                    <h1><i class="ti-quote-left"></i></h1>
                                    <h4> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.</h4>
                                    <img src="images/user-2.jpg" class="testi-user img-circle" alt="testimonials-user">
                                    <p>- Landing page User</p>
                                    <p>
                                        <span class="glyphicon glyphicon-star text-warning"></span>
                                        <span class="glyphicon glyphicon-star text-warning"></span>
                                        <span class="glyphicon glyphicon-star text-warning"></span>
                                        <span class="glyphicon glyphicon-star text-warning"></span>
                                        <span class="glyphicon glyphicon-star text-warning"></span>
                                    </p>
                                </div> -->
                            <!-- </div> slider item -->
                            <!-- <div class="item">
                                <div class="testimonial-box">
                                    <h1><i class="ti-quote-left"></i></h1>
                                    <h4> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.</h4>
                                    <img src="images/user-3.jpg" class="testi-user img-circle" alt="testimonials-user">
                                    <p>- Landing page User</p>
                                    <p>
                                        <span class="glyphicon glyphicon-star text-warning"></span>
                                        <span class="glyphicon glyphicon-star text-warning"></span>
                                        <span class="glyphicon glyphicon-star text-warning"></span>
                                        <span class="glyphicon glyphicon-star text-warning"></span>
                                        <span class="glyphicon glyphicon-star text-warning"></span>
                                    </p>
                                </div> -->
                            <!-- </div> slider item -->
                        <!-- </div> -->
                        <!-- End slider -->

                    </div> <!-- col -->
                </div> <!-- row -->
            </div><!-- end container -->
        </section>
        <!-- end TESTIMONIALS -->



        <!-- TEAM -->
        <!-- <section class="section bg-lightgray" id="team">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <i class="ti-user"></i>
                            <p>Who We Are</p>
                            <h2>Our <span class="text-custom">Creative</span> Team</h3>
                        </div>
                    </div>
                </div> -->
                <!-- end row -->

                <!-- <div class="row">
                    <div class="col-sm-4">
                        <div class="team-box">
                            <img src="images/team1.jpg" class="img-circle" alt="">
                            <h4>Andrew Sparks</h4>
                            <h6 class="text-muted">CEO/Founder</h6>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
                            <ul class="list-inline social">
                                <li>
                                    <a href="javascript:void(0);" class="bg-twitter"><i class="ti-twitter-alt"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="bg-dribbble"><i class="ti-dribbble"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="bg-linkedin"><i class="ti-linkedin"></i></a>
                                </li>
                            </ul>
                        </div> -->
                    <!-- </div> -->
                     <!-- end col -->

                    <!-- <div class="col-sm-4">
                        <div class="team-box">
                            <img src="images/team2.jpg" class="img-circle" alt="">
                            <h4>Hubert Brandt</h4>
                            <h6 class="text-muted">CTO/Co-Founder</h6>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
                            <ul class="list-inline social">
                                <li>
                                    <a href="javascript:void(0);" class="bg-googleplus"><i class="ti-google"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="bg-facebook"><i class="ti-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="bg-linkedin"><i class="ti-linkedin"></i></a>
                                </li>
                            </ul>

                        </div> -->
                    <!-- </div>  -->
                    <!-- end col -->

                    <!-- <div class="col-sm-4">
                        <div class="team-box">
                            <img src="images/team3.jpg" class="img-circle" alt="">
                            <h4>David Downs</h4>
                            <h6 class="text-muted"> Web Designer</h6>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
                            <ul class="list-inline social">
                                <li>
                                    <a href="javascript:void(0);" class="bg-twitter"><i class="ti-twitter-alt"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="bg-dribbble"><i class="ti-dribbble"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="bg-linkedin"><i class="ti-linkedin"></i></a>
                                </li>
                            </ul>
                        </div> -->
                    <!-- </div>  -->
                    <!-- end col -->
                <!-- </div> -->
                <!-- end row -->

                <!-- <div class="text-center margin-t-50">
                    <a href="" class="btn btn-custom">We Are Hiring</a>
                </div> -->

            <!-- </div>  -->
            <!-- end container -->
        <!-- </section> -->
        <!-- end TEAM -->



        <!-- PRICING -->
        <!-- <section class="section" id="pricing">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h2>Choose <small class="text-custom ti-receipt"></small> Plan</h2>
                            <h4>Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Call (+12) 123 456 78</h4>
                        </div>
                    </div>
                </div> -->
                <!-- end row -->

                <!-- <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row pricing-section">

                            <div class="col-sm-4">
                                <div class="pricing-box">
                                    <div class="pricing-header">
                                        <div class="plan-title">
                                            Economy Plan
                                        </div>
                                        <div class="plan-price">
                                            $9
                                        </div>
                                        <div class="plan-month text-muted">
                                            per month
                                        </div>
                                    </div>

                                    <ul class="list-unstyled plan-features">
                                        <li> <i class="ti-check"></i> Basic Updates</li>
                                        <li> <i class="ti-check"></i> Basic Features</li>
                                        <li> <i class="ti-check"></i> Community Support</li>
                                        <li> <i class="ti-check"></i> Real time Monitoring</li>
                                        <li> <i class="ti-check"></i> Premium Support</li>
                                        <li> <i class="ti-check"></i> Basic Updates</li>
                                    </ul>

                                    <div class="text-center margin-t-30">
                                        <a href="" class="btn btn-custom btn-sm">Buy Now</a>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-4">
                                <div class="pricing-box active">
                                    <div class="pricing-header">
                                        <div class="plan-title">
                                            Deluxe Plan
                                        </div>
                                        <div class="plan-price">
                                            $19
                                        </div>
                                        <div class="plan-month text-muted">
                                            per month
                                        </div>
                                    </div>

                                    <ul class="list-unstyled plan-features">
                                        <li> <i class="ti-check"></i> Basic Updates</li>
                                        <li> <i class="ti-check"></i> Basic Features</li>
                                        <li> <i class="ti-check"></i> Community Support</li>
                                        <li> <i class="ti-check"></i> Real time Monitoring</li>
                                        <li> <i class="ti-check"></i> Premium Support</li>
                                        <li> <i class="ti-check"></i> Basic Updates</li>
                                    </ul>

                                    <div class="text-center margin-t-30">
                                        <a href="" class="btn btn-secondary btn-sm">Buy Now</a>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-4">
                                <div class="pricing-box">
                                    <div class="pricing-header">
                                        <div class="plan-title">
                                            Ultimate Plan
                                        </div>
                                        <div class="plan-price">
                                            $29
                                        </div>
                                        <div class="plan-month text-muted">
                                            per month
                                        </div>
                                    </div>

                                    <ul class="list-unstyled plan-features">
                                        <li> <i class="ti-check"></i> Basic Updates</li>
                                        <li> <i class="ti-check"></i> Basic Features</li>
                                        <li> <i class="ti-check"></i> Community Support</li>
                                        <li> <i class="ti-check"></i> Real time Monitoring</li>
                                        <li> <i class="ti-check"></i> Premium Support</li>
                                        <li> <i class="ti-check"></i> Basic Updates</li>
                                    </ul>

                                    <div class="text-center margin-t-30">
                                        <a href="" class="btn btn-custom btn-sm">Buy Now</a>
                                    </div>
                                </div>
                            </div>

                        </div> -->
                    <!-- </div>  -->
                    <!-- end col -->

                <!-- </div> -->
                <!-- end row -->

            <!-- </div> end container -->
        <!-- </section> -->
        <!-- end PRICING -->


        <!-- FUN-FACTS -->
        <section class="section bg-dark funfacts" id="facts">
            <div class="container">

                <div class="row text-center">
                    <div class="col-sm-3 facts">
                        <i class="ti-flag-alt"></i>
                        <h1><span class="counter">82</span> %</h1>
                        <h5>Americans Want to Exercise More</h5>
                    </div>

                    <div class="col-sm-3 facts">
                        <i class="ti-heart"></i>
                        <h1> <span class="counter">84</span> %</h1>
                        <h5>Americans Over 65 Dont Exercise</h5>
                    </div>

                    <div class="col-sm-3 facts">
                        <i class="ti-timer"></i>
                        <h1><span class="counter">2.5</span>hours</h1>
                        <h5>Recommended Exercise Per Week</h5>
                    </div>

                    <div class="col-sm-3 facts">
                        <i class="ti-user"></i>
                        <h1 class="counter">89</h1>
                        <h5>No. of Clients</h5>
                    </div>

                </div> <!-- end row -->

            </div> <!-- end container -->
        </section>
        <!-- end FUN-FACTS -->


        <!-- BLOG -->
        <section class="section bg-lightgray" id="blog">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <i class="ti-announcement"></i>
                            <p>From our Blog</p>
                            <h2>News <span class="text-custom">and</span> Stories</h2>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-sm-4">
                        <div class="blog-box">
                            <img class="img-responsive" src="images/blog/blog-1.jpg" alt="">
                            <p class="blog-date">{{meetups_list.0.date}}</p>
                            <div class="blog-box-content">
                                <h4 class="blog-grid-title-md"><a>{{meetups_list.0.eventname}}</a></h4>
                                <p>{{meetups_list.0.description}}</p>
                            </div>
                            <div class="blog-box-footer text-center">
                                <a href="#" class="btn btn-sm btn-custom"> Read more</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="blog-box">
                            <img class="img-responsive" src="images/blog/blog-2.jpg" alt="">
                            <p class="blog-date">{{meetups_list.1.date}}</p>
                            <div class="blog-box-content">
                                <h4 class="blog-grid-title-md"><a>{{meetups_list.1.eventname}}</a></h4>
                                <p>{{meetups_list.1.description}}</p>
                            </div>
                            <div class="blog-box-footer text-center">
                                <a href="#" class="btn btn-sm btn-custom"> Read more</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="blog-box">
                            <img class="img-responsive" src="images/blog/blog-3.jpg" alt="">
                            <p class="blog-date">03 Jun 2016</p>
                            <div class="blog-box-content">
                                <h4 class="blog-grid-title-md"><a href="#">Architecto beatae vitae dicta sunt explicabo</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel sapien et lacus tempus varius. In finibus lorem vel.</p>
                            </div>
                            <div class="blog-box-footer text-center">
                                <a href="#" class="btn btn-sm btn-custom"> Read more</a>
                            </div>
                        </div>
                    </div>

                </div> <!-- end row -->

            </div> <!-- end container -->
        </section>
        <!-- end BLOG -->



        <!-- CONTACT -->
        <section class="section" id="contact">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h2>Are you a member?  Please log in below!</h2>
                            <!-- <h4>Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Call (+12) 123 456 78</h4> -->
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <!--contact form start-->
                    <!-- <div class="col-sm-8 col-sm-offset-2">
                        <h4>Shoot a message!</h4>
                        <div id="message"></div>
                        <form method="post" action="php/contact.php" name="cform" id="cform" class="contact-form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input name="name" id="name" type="text" class="form-control" placeholder="Your name..." >
                                </div>
                                <div class="col-sm-6">
                                    <input name="email" id="email" type="email" class="form-control" placeholder="Your email..." >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <textarea name="comments" id="comments" cols="" rows="4" class="form-control" placeholder="Your message..."></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <input type="submit" id="submit" name="send" class="submitBnt btn  btn-custom" value="Send Message">
                                </div>
                            </div>

                            <div id="simple-msg"></div>

                        </form>
                    </div> -->
                    <div class="loginform">
                        <A NAME="login"></A>
                        <div class="container">
                          <div class="row">
                            <div class="col-md-6">
                              <form class="user" action="/user_login" method="post">
                                <h1>User Login</h1>
                                {% csrf_token %}
                                <input type="text" name="user_login_email" placeholder="Email"><br>
                                <input type="password" name="user_login_password" placeholder="Password">
                                <input type="submit" value="Login">
                              </form>
                              <a href="/findpassword">Forgot password?</a>
                            </div>
                            <div class="col-md-6 leftform">
                              <form class="business" action="/business_login" method="post">
                                <h1>Business Login</h1>
                                {% csrf_token %}
                                <input type="text" name="business_login_email" placeholder="Email"><br>
                                <input type="password" name="business_login_password" placeholder="Password">
                                <input type="submit" value="Login">
                              </form>
                              <a href="/findpassword">Forgot password?</a>
                            </div>

                          </div>
                        </div>

                      </div>






                    <!--contact form end-->
                </div>
                <!-- end row -->


                <!-- <div class="row contact-footer">
                    <div class="col-sm-4">
                        <div class="contact-footer-box text-center">
                            <i class="ti-mobile"></i>
                            <h5>123-456-789-0</h5>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="contact-footer-box text-center">
                            <i class="ti-map-alt"></i>
                            <h5>Gujarat, India</h5>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="contact-footer-box text-center">
                            <i class="ti-email"></i>
                            <h5>emailaddress@domain.com</h5>
                        </div>
                    </div>
                </div> -->
                <!-- end row -->

            </div> <!-- end container -->
        </section>
        <!-- end CONTACT -->



        <!-- FOOTER -->
        <footer class="bg-dark footer">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 col-sm-12">
                        <h4 class="logo">Stay<span>En</span>Motion</h4>
                        <p>Architecto beatae vitae dicta sunt explicabo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel sapien et lacus tempus varius. In finibus lorem vel.</p>

                        <ul class="list-inline social">
                            <li>
                                <a href="javascript:void(0);" class="bg-twitter"><i class="ti-twitter-alt"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="bg-dribbble"><i class="ti-dribbble"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="bg-linkedin"><i class="ti-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="bg-googleplus"><i class="ti-google"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="bg-facebook"><i class="ti-facebook"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6 col-md-offset-2">
                        <h5>Solutions</h5>
                        <ul class="list-unstyled footer-list">
                            <li><a href="">Web Design</a></li>
                            <li><a href="">Graphic Design</a></li>
                            <li><a href="">Power & Energy</a></li>
                            <li><a href="">Solar Power</a></li>
                            <li><a href="">Green energy</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h5>Useful Links</h5>
                        <ul class="list-unstyled footer-list">
                            <li><a href="">About Us</a></li>
                            <li><a href="">Help &amp; Support</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Terms &amp; Conditions</a></li>
                            <li><a href="">FAQ</a></li>
                        </ul>
                    </div>

                </div> <!-- end row -->


            </div> <!-- end container -->
        </footer>
        <!-- end FOOTER -->


        <!-- COPYRIGHT -->
        <div class="footer-alt bg-dark">
            <p class="copy-rights">2016 © Aneria. All Rights Reserved</p>
        </div>




        <!-- js placed at the end of the document so the pages load faster -->
        <script src="../../static/js/jquery-2.1.4.min.js"></script>
        <script src="../../static/js/bootstrap.min.js"></script>

        <!-- Sticky Header -->
        <script src="../../static/js/jquery.sticky.js"></script>

        <!-- Jquery easing -->
        <script type="text/javascript" src="../../static/js/jquery.easing.1.3.min.js"></script>

        <!-- Owl Carousel -->
        <script type="text/javascript" src="../../static/js/owl.carousel.min.js"></script>

        <!--Counter-->
        <script src="../../static/js/waypoints.min.js" type="text/javascript"></script>
        <script src="../../static/js/jquery.counterup.min.js" type="text/javascript"></script>

        <!-- Magnific Popup -->
        <script type="text/javascript" src="../../static/js/jquery.magnific-popup.min.js"></script>

        <!-- Custom js -->
        <script src="../../static/js/app.js"></script>
        <script src"../../static/dzsparallaxer/dzsparallaxer.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $('.owl-carousel').owlCarousel({
                    loop:true,
                    margin:10,
                    nav:false,
                    autoplay: true,
                    autoplayTimeout: 4000,
                    responsive:{
                        0:{
                            items:1
                        }
                    }
                });

                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
            });
        </script>

    </body>
</html>
