<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{a_user.first_name}} {{a_user.last_name}}</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <link rel="stylesheet" href="../../static/css/messageboard.css">
  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
        <script>
          alert('{{message}}');
        </script>
      {% endfor %}
    {% endif %}
    <div class="navbar">
      <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#348fe5; color:#e4e4e4;">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <h3 style="vertical-align:top; display:inline-block;">Welcome <a href="/users/{{request.session.user_id}}" style="color:darkblue;">{{request.session.first_name}}</a>!</h3>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/" style="color:#e4e4e4;">Home</a></li>
              <li><a href="/meetups" style="color:#e4e4e4;">Meetups</a></li>
              <li><a href="/messageboard" style="color:#e4e4e4;">Message Board</a></li>
              <li><a href="/social" style="color:#e4e4e4;">Social</a></li>
              <li><a href="/deals" style="color:#e4e4e4;">Deals</a></li>
              <li>
                <div class="dropdown">
                  {% if this_user.image %}
                    <img class="dropbtn" src="{{this_user.image.url}}" alt="">
                  {% else %}
                    <img class="dropbtn" src="../../static/images/blankpic.jpg" alt="">
                  {% endif %}
                  <div class="dropdown-content">
                    <a href="/users/{{request.session.user_id}}">Account Overview</a>
                    <a href="#">My Deals</a>
                    <a href="#">Settings</a>
                    <a href="/logout">Log Out</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>


    <div class="wrapper">
      {% if a_user.id == request.session.user_id %}
        <div>
          <a style="display:inline-table;" href="/uploadpicture"><button>Upload Profile Picture</button></a>
          <a style="display:inline-table;" href="/removepicture"><button>Remove Profile Picture</button></a>
          <a href="/updateprofile"><button>Update Profile</button></a>
          <a href="/changepassword"><button>Change Password</button></a>
          <a href="/bookmarks"><button>Bookmarks</button></a>
        </div>
      {% endif %}
      {% if a_user.image %}
        <img src="{{a_user.image.url}}" style="height:75px; width:75px; border-radius:25%;">
      {% else %}
        <img src="../../static/images/blankpic.jpg" style="height:75px; width:75px;border-radius:25%">
      {% endif %}
      <h1 style="display:inline-table;">{{a_user.first_name}} {{a_user.last_name}}</h1>
      <h3>Total Messages: {{a_user.messageboard_messages.count}}</h3>
      <h3>Total Comments: {{a_user.messageboard_comments.count}}</h3>

    </div>
  </body>
</html>
