<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Mitr:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <meta charset="utf-8">
    <title>Update Profile</title>
    <link rel="stylesheet" href="../../static/css/navbar.css">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
      <div class="navbar">
          <nav class="navbar navbar-default navbar-fixed-top thenav">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span><!DOCTYPE html>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div id="navbar" class="collapse navbar-collapse">
                <!-- {% if request.session.user_id %}
                  <h3 style="vertical-align:top; display:inline-block;">Welcome <a href="/users/{{request.session.user_id}}" style="color:skyblue;">{{this_user.first_name}}</a>!</h3>
                {% elif request.session.business_id %}
                  <h3 style="vertical-align:top; display:inline-block;">Welcome <a href="/businesses/{{request.session.business_id}}" style="color:skyblue;">{{this_business.name}}</a>!</h3>
                {% endif %} -->
                <a class="navbar-brand logo" href="index.html">
                    Stay<span>En</span>Motion
                </a>
                <ul class="nav navbar-nav navbar-right">
                  <li><a class="navlinks" href="/">Home</a></li>
                  <li><a class="navlinks" href="/meetups">Meetups</a></li>
                  <li><a class="navlinks" href="/messageboard">Message Board</a></li>
                  <!-- <li><a class="navlinks" href="/social">Social</a></li> -->
                  <li><a class="navlinks" href="/deals" style="color:#e4e4e4; opacity:1;">Deals</a></li>
                  <li>
                    <div class="dropdown">
                      {% if request.session.user_id %}
                        {% if this_user.image %}
                          <img class="dropbtn" src="{{this_user.image.url}}" alt="">
                        {% else %}
                          <img class="dropbtn" src="../../static/images/blankpic.jpg" alt="">
                        {% endif %}
                      {% elif request.session.business_id %}
                        {% if this_business.image %}
                          <img class="dropbtn" src="{{this_business.image.url}}" alt="">
                        {% else %}
                          <img class="dropbtn" src="../../static/images/blankpic.jpg" alt="">
                        {% endif %}
                      {% endif %}
                      <div class="dropdown-content">
                        {% if request.session.user_id %}
                          <a href="/users/{{request.session.user_id}}">Account Overview</a>
                        {% elif request.session.business_id %}
                          <a href="/businesses/{{request.session.business_id}}">Account Overview</a>
                        {% endif %}
                        <a href="/bookmarks">My Bookmarks</a>
                        <a href="/updateprofile">Edit Profile</a>
                        <a href="/logout">Log Out</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>

        {% if messages %}
          {% for message in messages %}
          <script>
            alert('{{message}}');
          </script>
          {% endfor %}
        {% endif %}



    {% if messages and request.session.business_id %}
      <h3>Please note:</h3>
      <p>Business Name may not be empty.</p>
      <p>Address may not be empty.</p>
      <p>City may not be empty.</p>
      <p>State must be 2 letters.</p>
      <p>Zipcode must be 5 letters.</p>
    {% endif %}


    {% if request.session.user_id %}
      <form action="/updateprofile/process" method="post">
        {% csrf_token %}
        First Name <input type="text" name="user_first_name" value="{{this_user.first_name}}" placeholder="First Name" required minlength="1">
        <br>
        Last Name <input type="text" name="user_last_name" value="{{this_user.last_name}}" placeholder="Last Name" required minlength="1">
        <br>
        <input type="submit" value="Update">
      </form>
    {% elif request.session.business_id %}
      <form action="/updateprofile/process" method="post">
        {% csrf_token %}
        Business Name <input type="text" name="business_name" value="{{this_business.name}}" placeholder="Business Name" required minlength="1">
        <br>
        Address <input type="text" name="business_address" value="{{this_business.address}}" placeholder="Address" required minlength="1">
        <br>
        City <input type="text" name="business_city" value="{{this_business.city}}" placeholder="City" required minlength="1">
        <br>
        State <Select name="business_state" required minlength="2" required maxlength="2">
          <option value="{{this_business.state}}">{{this_business.state}}</option>
          <option value=""></option>
          <option value="AL">AL</option>
          <option value="AK">AK</option>
          <option value="AZ">AZ</option>
          <option value="AR">AR</option>
          <option value="CA">CA</option>
          <option value="CO">CO</option>
          <option value="CT">CT</option>
          <option value="DE">DE</option>
          <option value="FL">FL</option>
          <option value="GA">GA</option>
          <option value="HI">HI</option>
          <option value="ID">ID</option>
          <option value="IL">IL</option>
          <option value="IN">IN</option>
          <option value="IA">IA</option>
          <option value="KS">KS</option>
          <option value="KY">KY</option>
          <option value="LA">LA</option>
          <option value="ME">ME</option>
          <option value="MD">MD</option>
          <option value="MA">MA</option>
          <option value="MI">MI</option>
          <option value="MN">MN</option>
          <option value="MS">MS</option>
          <option value="MO">MO</option>
          <option value="MT">MT</option>
          <option value="NE">NE</option>
          <option value="NV">NV</option>
          <option value="NH">NH</option>
          <option value="NJ">NJ</option>
          <option value="NM">NM</option>
          <option value="NY">NY</option>
          <option value="NC">NC</option>
          <option value="ND">ND</option>
          <option value="OH">OH</option>
          <option value="OK">OK</option>
          <option value="OR">OR</option>
          <option value="PA">PA</option>
          <option value="RI">RI</option>
          <option value="SC">SC</option>
          <option value="SD">SD</option>
          <option value="TN">TN</option>
          <option value="TX">TX</option>
          <option value="UT">UT</option>
          <option value="VT">VT</option>
          <option value="VA">VA</option>
          <option value="WA">WA</option>
          <option value="WV">WV</option>
          <option value="WI">WI</option>
          <option value="WY">WY</option>
        </select>
        <br>
        Zipcode <input type="text" name="business_zipcode" value="{{this_business.zipcode}}" required minlength="5" required maxlength="5">
        <br>
        <input type="submit" value="Update">
      </form>

    {% endif %}

    <div class="footer" style="margin-top:10%;">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h4 class="footerheader">Company</h5>
              <a class="linkcont" href="/aboutus">About us</a>
              <a class="linkcont" href="/careers">Careers</a>
            </div>
            <div class="col-md-3">
              <h4 class="footerheader">Support</h4>
              <a class="linkcont" href="/contact">Contact</a>
            </div>
            <div class="col-md-3">
              <h4 class="footerheader">Partners</h4>
              <a  class="linkcont" href="gyms">Gyms</a>
            </div>
            <div class="col-md-3">
              <h4 class="footerheader">Community</h4>
              <a class="linkcont" href="Blog">Blog</a>
            </div>
          </div>
        </div>
        <h4 class="appstorehead" style="color:white; margin-left:8%; margin-top:5%">Enjoy GymFinder on the go!</h4>
        <div class="appstorelink">
          <a href="/appstore"><img class="appstore" src="../../static/images/appstorelink.png" alt=""></a>
        </div>
      </div>

  </body>
</html>
